@import "tailwindcss";
@plugin "@tailwindcss/typography";

@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-background-platform: var(--background-platform);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-variant: var(--primary-variant);
  --color-primary-tertiary: var(--primary-tertiary);
  --color-primary-quaternary: var(--primary-quaternary);
  --color-primary-quinary: var(--primary-quinary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary-muted-foreground: var(--primary-muted-foreground);
  --color-primary-iris: var(--primary-iris);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-tertiary: var(--tertiary);
  --color-tertiary-foreground: var(--tertiary-foreground);
  --color-quaternary: var(--quaternary);
  --color-quinary: var(--quinary);
  --color-senary: var(--senary);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  --color-semantic-destructive: var(--semantic-destructive);
  --color-semantic-destructive-variant: var(--semantic-destructive-variant);
  --color-semantic-destructive-tertiary: var(--semantic-destructive-tertiary);
  --color-semantic-destructive-quaternary: var(
    --semantic-destructive-quaternary
  );
  --color-semantic-destructive-quinary: var(--semantic-destructive-quinary);
  --color-semantic-destructive-foreground: var(
    --semantic-destructive-foreground
  );
  --color-semantic-destructive-ring: var(--semantic-destructive-ring);

  --color-semantic-critical: var(--semantic-critical);
  --color-semantic-critical-variant: var(--semantic-critical-variant);
  --color-semantic-critical-tertiary: var(--semantic-critical-tertiary);
  --color-semantic-critical-quaternary: var(--semantic-critical-quaternary);
  --color-semantic-critical-quinary: var(--semantic-critical-quinary);
  --color-semantic-critical-foreground: var(--semantic-critical-foreground);
  --color-semantic-critical-ring: var(--semantic-critical-ring);

  --color-semantic-warning: var(--semantic-warning);
  --color-semantic-warning-variant: var(--semantic-warning-variant);
  --color-semantic-warning-tertiary: var(--semantic-warning-tertiary);
  --color-semantic-warning-quaternary: var(--semantic-warning-quaternary);
  --color-semantic-warning-quinary: var(--semantic-warning-quinary);
  --color-semantic-warning-foreground: var(--semantic-warning-foreground);
  --color-semantic-warning-ring: var(--semantic-warning-ring);

  --color-semantic-success: var(--semantic-success);
  --color-semantic-success-variant: var(--semantic-success-variant);
  --color-semantic-success-tertiary: var(--semantic-success-tertiary);
  --color-semantic-success-quaternary: var(--semantic-success-quaternary);
  --color-semantic-success-quinary: var(--semantic-success-quinary);
  --color-semantic-success-foreground: var(--semantic-success-foreground);
  --color-semantic-success-ring: var(--semantic-success-ring);

  --color-semantic-info: var(--semantic-info);
  --color-semantic-info-variant: var(--semantic-info-variant);
  --color-semantic-info-tertiary: var(--semantic-info-tertiary);
  --color-semantic-info-quaternary: var(--semantic-info-quaternary);
  --color-semantic-info-quinary: var(--semantic-info-quinary);
  --color-semantic-info-foreground: var(--semantic-info-foreground);
  --color-semantic-info-ring: var(--semantic-info-ring);

  /* Material */
  --color-material-ultrathin: var(--material-ultrathin);
  --color-material-ultrathin-overlay: var(--material-ultrathin-overlay);
  --color-material-thin: var(--material-thin);
  --color-material-thin-overlay: var(--material-thin-overlay);
  --color-material-regular: var(--material-regular);
  --color-material-regular-overlay: var(--material-regular-overlay);
  --color-material-thick: var(--material-thick);
  --color-material-thick-overlay: var(--material-thick-overlay);
  --color-material-ultrathick: var(--material-ultrathick);
  --color-material-ultrathick-overlay: var(--material-ultrathick-overlay);

  /* Alpha */
  --color-alpha-95: var(--alpha-95);
  --color-alpha-90: var(--alpha-90);
  --color-alpha-80: var(--alpha-80);
  --color-alpha-70: var(--alpha-70);
  --color-alpha-60: var(--alpha-60);
  --color-alpha-50: var(--alpha-50);
  --color-alpha-40: var(--alpha-40);
  --color-alpha-30: var(--alpha-30);
  --color-alpha-20: var(--alpha-20);
  --color-alpha-10: var(--alpha-10);
  --color-alpha-5: var(--alpha-5);

  /* Custom Colors */
  --color-agent-verified-background: hsla(142, 76%, 36%, 0.05);
  --color-agent-verified-foreground: hsla(142, 72%, 29%, 1);

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }

  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}

:root {
  --radius: 0.625rem;
  --background: hsla(0, 0%, 100%, 1);
  --background-platform: hsla(0, 0%, 98%, 1);
  --foreground: hsla(0, 0%, 4%, 1);
  --card: hsla(300, 50%, 100%, 1);
  --card-foreground: hsla(300, 0%, 4%, 1);
  --popover: hsla(300, 50%, 100%, 1);
  --popover-foreground: hsla(300, 0%, 4%, 1);
  --primary: hsla(264, 100%, 50%, 1);
  --primary-variant: hsla(264, 100%, 50%, 1);
  --primary-tertiary: hsla(264, 100%, 50%, 0.2);
  --primary-quaternary: hsla(264, 100%, 50%, 0.1);
  --primary-quinary: hsla(264, 100%, 50%, 0.05);
  --primary-foreground: hsla(0, 0%, 98%, 1);
  --primary-muted-foreground: hsla(0, 0%, 98%, 0.6);
  --primary-iris: hsla(300, 100%, 50%, 1);
  --secondary: hsla(0, 0%, 4%, 0.95);
  --secondary-foreground: hsla(0, 0%, 98%, 1);
  --tertiary: hsla(0, 0%, 4%, 0.2);
  --tertiary-foreground: hsla(0, 0%, 4%, 0.8);
  --quaternary: hsla(0, 0%, 4%, 0.1);
  --quinary: hsla(0, 0%, 4%, 0.05);
  --senary: hsla(0, 0%, 4%, 0.03);
  --muted: hsla(300, 0%, 96%, 1);
  --muted-foreground: hsla(0, 0%, 4%, 0.5);
  --accent: hsla(300, 0%, 96%, 1);
  --accent-foreground: hsla(330, 0%, 9%, 1);
  --destructive: hsla(0, 72%, 51%, 1);
  --border: hsla(330, 0%, 90%, 1);
  --input: hsla(330, 0%, 90%, 1);
  --ring: hsla(300, 100%, 91%, 1);
  --ring-semantic: hsla(0, 96%, 89%, 1);
  --chart-1: hsla(173, 58%, 39%, 1);
  --chart-2: hsla(12, 76%, 61%, 1);
  --chart-3: hsla(197, 37%, 24%, 1);
  --chart-4: hsla(43, 74%, 66%, 1);
  --chart-5: hsla(27, 87%, 67%, 1);
  --sidebar: hsla(300, 0%, 98%, 1);
  --sidebar-foreground: hsla(300, 0%, 4%, 1);
  --sidebar-primary: hsla(330, 0%, 9%, 1);
  --sidebar-primary-foreground: hsla(300, 0%, 98%, 1);
  --sidebar-accent: hsla(300, 0%, 96%, 1);
  --sidebar-accent-foreground: hsla(330, 0%, 9%, 1);
  --sidebar-border: hsla(330, 0%, 90%, 1);
  --sidebar-ring: hsla(0, 0%, 63%, 1);

  /* Semantic */
  --semantic-destructive: hsla(0, 72%, 51%, 1);
  --semantic-destructive-variant: hsla(0, 74%, 42%, 1);
  --semantic-destructive-tertiary: hsla(0, 72%, 51%, 0.2);
  --semantic-destructive-quaternary: hsla(0, 72%, 51%, 0.1);
  --semantic-destructive-quinary: hsla(0, 72%, 51%, 0.05);
  --semantic-destructive-foreground: hsla(0, 86%, 97%, 1);
  --semantic-destructive-ring: hsla(0, 96%, 89%, 1);

  --semantic-warning: hsla(50, 100%, 40%, 1);
  --semantic-warning-variant: hsla(48, 95%, 45%, 1);
  --semantic-warning-tertiary: hsla(50, 100%, 40%, 0.3);
  --semantic-warning-quaternary: hsla(50, 100%, 40%, 0.2);
  --semantic-warning-quinary: hsla(50, 100%, 40%, 0.1);
  --semantic-warning-foreground: hsla(55, 100%, 98%, 1);
  --semantic-warning-ring: hsla(52, 100%, 30%, 1);

  --semantic-critical: hsla(41, 96%, 40%, 1);
  --semantic-critical-variant: hsla(35, 92%, 33%, 1);
  --semantic-critical-tertiary: hsla(41, 96%, 40%, 0.2);
  --semantic-critical-quaternary: hsla(41, 96%, 40%, 0.1);
  --semantic-critical-quinary: hsla(41, 96%, 40%, 0.05);
  --semantic-critical-foreground: hsla(55, 92%, 95%, 1);
  --semantic-critical-ring: hsla(53, 98%, 77%, 1);

  --semantic-success: hsla(142, 76%, 36%, 1);
  --semantic-success-variant: hsla(142, 72%, 29%, 1);
  --semantic-success-tertiary: hsla(142, 76%, 36%, 0.2);
  --semantic-success-quaternary: hsla(142, 76%, 36%, 0.1);
  --semantic-success-quinary: hsla(142, 76%, 36%, 0.05);
  --semantic-success-foreground: hsla(138, 76%, 97%, 1);
  --semantic-success-ring: hsla(141, 79%, 85%, 1);

  --semantic-info: hsla(192, 91%, 36%, 1);
  --semantic-info-variant: hsla(193, 82%, 31%, 1);
  --semantic-info-tertiary: hsla(192, 91%, 36%, 0.1);
  --semantic-info-quaternary: hsla(192, 91%, 36%, 0.1);
  --semantic-info-quinary: hsla(192, 91%, 36%, 0.1);
  --semantic-info-foreground: hsla(183, 100%, 96%, 1);
  --semantic-info-ring: hsla(186, 94%, 82%, 1);

  /* Material */
  --material-ultrathin: hsla(0, 0%, 100%, 0.33);
  --material-ultrathin-overlay: hsla(0, 0%, 45%, 1);
  --material-thin: hsla(0, 0%, 96%, 0.48);
  --material-thin-overlay: hsla(0, 0%, 64%, 1);
  --material-regular: hsla(0, 0%, 100%, 0.85);
  --material-regular-overlay: hsla(0, 0%, 32%, 1);
  --material-thick: hsla(0, 0%, 100%, 0.9);
  --material-thick-overlay: hsla(0, 0%, 45%, 1);
  --material-ultrathick: hsla(0, 0%, 98%, 0.97);
  --material-ultrathick-overlay: hsla(0, 0%, 64%, 1);

  /* Alpha */
  --alpha-95: hsla(0, 0%, 100%, 0.05);
  --alpha-90: hsla(0, 0%, 100%, 0.1);
  --alpha-80: hsla(0, 0%, 100%, 0.2);
  --alpha-70: hsla(0, 0%, 100%, 0.3);
  --alpha-60: hsla(0, 0%, 100%, 0.4);
  --alpha-50: hsla(0, 0%, 100%, 0.5);
  --alpha-40: hsla(0, 0%, 100%, 0.6);
  --alpha-30: hsla(0, 0%, 100%, 0.7);
  --alpha-20: hsla(0, 0%, 100%, 0.8);
  --alpha-10: hsla(0, 0%, 100%, 0.9);
  --alpha-5: hsla(0, 0%, 100%, 0.95);
}

.dark {
  --radius: 0.625rem;
  --background: hsla(0, 0%, 4%, 1);
  --background-platform: hsla(0, 0%, 9%, 1);
  --foreground: hsla(0, 0%, 98%, 1);
  --card: hsla(300, 0%, 4%, 1);
  --card-foreground: hsla(0, 0%, 98%, 1);
  --popover: hsla(330, 0%, 9%, 1);
  --popover-foreground: hsla(0, 0%, 98%, 1);
  --primary: hsla(264, 100%, 50%, 1);
  --primary-variant: hsla(260, 100%, 73%, 1);
  --primary-tertiary: hsla(260, 100%, 73%, 0.3);
  --primary-quaternary: hsla(260, 100%, 73%, 0.2);
  --primary-quinary: hsla(260, 100%, 73%, 0.1);
  --primary-foreground: hsla(0, 0%, 98%, 1);
  --primary-muted-foreground: hsla(0, 0%, 98%, 0.6);
  --primary-iris: hsla(300, 100%, 50%, 1);
  --secondary: hsla(0, 0%, 100%, 0.95);
  --secondary-foreground: hsla(0, 0%, 4%, 1);
  --tertiary: hsla(0, 0%, 100%, 0.3);
  --tertiary-foreground: hsla(0, 0%, 100%, 0.8);
  --quaternary: hsla(0, 0%, 100%, 0.2);
  --quinary: hsla(0, 0%, 100%, 0.1);
  --senary: hsla(0, 0%, 100%, 0.05);
  --muted: hsla(0, 0%, 15%, 1);
  --muted-foreground: hsla(0, 0%, 100%, 0.6);
  --accent: hsla(0, 0%, 15%, 1);
  --accent-foreground: hsla(0, 0%, 98%, 1);
  --destructive: hsla(0, 70%, 35%, 1);
  --border: hsla(300, 50%, 100%, 0.1);
  --input: hsla(300, 50%, 100%, 0.15);
  --ring: hsla(304, 63%, 32%, 1);
  --ring-semantic: hsla(0, 75%, 15%, 1);
  --chart-1: hsla(220, 70%, 50%, 1);
  --chart-2: hsla(340, 75%, 55%, 1);
  --chart-3: hsla(30, 80%, 55%, 1);
  --chart-4: hsla(280, 65%, 60%, 1);
  --chart-5: hsla(160, 60%, 45%, 1);
  --sidebar: hsla(330, 0%, 9%, 1);
  --sidebar-foreground: hsla(0, 0%, 98%, 1);
  --sidebar-primary: hsla(225, 84%, 49%, 1);
  --sidebar-primary-foreground: hsla(0, 0%, 98%, 1);
  --sidebar-accent: hsla(0, 0%, 15%, 1);
  --sidebar-accent-foreground: hsla(0, 0%, 98%, 1);
  --sidebar-border: hsla(300, 50%, 100%, 0.1);
  --sidebar-ring: hsla(300, 0%, 45%, 1);

  /* Semantic */
  --semantic-destructive: hsla(0, 70%, 35%, 1);
  --semantic-destructive-variant: hsla(0, 84%, 60%, 1);
  --semantic-destructive-tertiary: hsla(0, 70%, 35%, 0.3);
  --semantic-destructive-quaternary: hsla(0, 70%, 35%, 0.2);
  --semantic-destructive-quinary: hsla(0, 70%, 35%, 0.1);
  --semantic-destructive-foreground: hsla(0, 86%, 97%, 1);
  --semantic-destructive-ring: hsla(0, 75%, 15%, 1);

  --semantic-warning: hsla(50, 100%, 40%, 1);
  --semantic-warning-variant: hsla(48, 95%, 45%, 1);
  --semantic-warning-tertiary: hsla(50, 100%, 40%, 0.3);
  --semantic-warning-quaternary: hsla(50, 100%, 40%, 0.2);
  --semantic-warning-quinary: hsla(50, 100%, 40%, 0.1);
  --semantic-warning-foreground: hsla(55, 100%, 98%, 1);
  --semantic-warning-ring: hsla(52, 100%, 30%, 1);

  --semantic-critical: hsla(32, 81%, 29%, 1);
  --semantic-critical-variant: hsla(45, 93%, 47%, 1);
  --semantic-critical-tertiary: hsla(32, 81%, 29%, 0.3);
  --semantic-critical-quaternary: hsla(32, 81%, 29%, 0.2);
  --semantic-critical-quinary: hsla(32, 81%, 29%, 0.1);
  --semantic-critical-foreground: hsla(55, 92%, 95%, 1);
  --semantic-critical-ring: hsla(26, 83%, 14%, 1);

  --semantic-success: hsla(143, 64%, 24%, 1);
  --semantic-success-variant: hsla(142, 71%, 45%, 1);
  --semantic-success-tertiary: hsla(143, 64%, 24%, 0.3);
  --semantic-success-quaternary: hsla(143, 64%, 24%, 0.2);
  --semantic-success-quinary: hsla(143, 64%, 24%, 0.1);
  --semantic-success-foreground: hsla(138, 76%, 97%, 1);
  --semantic-success-ring: hsla(145, 80%, 10%, 1);

  --semantic-info: hsla(194, 70%, 27%, 1);
  --semantic-info-variant: hsla(189, 94%, 43%, 1);
  --semantic-info-tertiary: hsla(194, 70%, 27%, 0.2);
  --semantic-info-quaternary: hsla(194, 70%, 27%, 0.2);
  --semantic-info-quinary: hsla(194, 70%, 27%, 0.2);
  --semantic-info-foreground: hsla(183, 100%, 96%, 1);
  --semantic-info-ring: hsla(197, 79%, 15%, 1);

  /* Material */
  --material-ultrathin: hsla(0, 0%, 15%, 0.55);
  --material-ultrathin-overlay: hsla(0, 0%, 64%, 1);
  --material-thin: hsla(0, 0%, 15%, 0.7);
  --material-thin-overlay: hsla(0, 0%, 64%, 1);
  --material-regular: hsla(0, 0%, 15%, 0.8);
  --material-regular-overlay: hsla(0, 0%, 45%, 1);
  --material-thick: hsla(0, 0%, 15%, 0.9);
  --material-thick-overlay: hsla(0, 0%, 45%, 1);
  --material-ultrathick: hsla(0, 0%, 15%, 0.95);
  --material-ultrathick-overlay: hsla(0, 0%, 45%, 1);

  /* Alpha */
  --alpha-95: hsla(0, 0%, 4%, 0.05);
  --alpha-90: hsla(0, 0%, 4%, 0.1);
  --alpha-80: hsla(0, 0%, 4%, 0.2);
  --alpha-70: hsla(0, 0%, 4%, 0.3);
  --alpha-60: hsla(0, 0%, 4%, 0.4);
  --alpha-50: hsla(0, 0%, 4%, 0.5);
  --alpha-40: hsla(0, 0%, 4%, 0.6);
  --alpha-30: hsla(0, 0%, 4%, 0.7);
  --alpha-20: hsla(0, 0%, 4%, 0.8);
  --alpha-10: hsla(0, 0%, 4%, 0.9);
  --alpha-5: hsla(0, 0%, 4%, 0.95);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@utility container {
  margin-inline: auto;
  @media (width >= --theme(--breakpoint-sm)) {
    max-width: none;
  }
  @media (width >= 1400px) {
    max-width: 1400px;
  }
}

@utility landing-hero-bg {
  background-image:
    linear-gradient(rgba(0, 164, 250, 0.39), rgba(255, 255, 255, 1)),
    url("/backgrounds/landing-hero.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @variant dark {
    background-image:
      linear-gradient(rgba(79, 0, 197, 0.62), rgba(0, 0, 0, 1)),
      url("/backgrounds/landing-hero.jpg");
  }
}

@utility landing-join-our-community-bg {
  background: url("/backgrounds/join-our-community.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@utility agent-card-image-shadow {
  box-shadow: 0px 0px 8px 2px
    color-mix(in oklab, var(--muted-foreground) 30%, transparent);
}

@utility agent-detail-card {
  background: var(--material-thin, rgba(245, 245, 245, 0.48));
  border-radius: var(--border-radius-xl, 12px);
  border: 1px solid var(--base-senary, rgba(10, 10, 10, 0.03));

  @variant dark {
    background: var(--material-thin, rgba(38, 38, 38, 0.7));
    border-radius: var(--border-radius-xl, 12px);
    border: 1px solid var(--base-senary, rgba(255, 255, 255, 0.05));
  }
}

@utility agent-modal-card {
  background: var(--material-regular, rgba(255, 255, 255, 0.85));
  border-radius: var(--border-radius-xl, 12px);
  border: 1px solid var(--base-senary, rgba(10, 10, 10, 0.03));

  @variant dark {
    background: var(--material-regular, rgba(38, 38, 38, 0.8));
    border-radius: var(--border-radius-xl, 12px);
    border: 1px solid var(--base-senary, rgba(255, 255, 255, 0.05));
  }
}

@utility job-table-width {
  @apply w-full lg:w-[max(480px,32%)];
}

@utility job-details-width {
  @apply w-full lg:w-[calc(100%-max(480px,32%))];
}
