name: Build

on:
  workflow_dispatch:
  pull_request:

env:
  DATABASE_URL: "postgresql://user:password@localhost:5432/sokosumi"
  BETTER_AUTH_SECRET: ${{ vars.PUBLIC_DEFAULT_SECRET }}
  POSTMARK_SERVER_ID: ${{ vars.PUBLIC_DEFAULT_SECRET }}
  POSTMARK_FROM_EMAIL: ${{ vars.PUBLIC_DEFAULT_EMAIL }}
  NEXT_PUBLIC_NETWORK: "Preprod"
  SOKOSUMI_API_URL: ${{ vars.PUBLIC_DEFAULT_URL }}
  PAYMENT_API_KEY: ${{ vars.PUBLIC_DEFAULT_SECRET }}
  REGISTRY_API_KEY: ${{ vars.PUBLIC_DEFAULT_SECRET }}
  STRIPE_PUBLISHABLE_KEY: ${{ vars.PUBLIC_DEFAULT_SECRET }}
  STRIPE_SECRET_KEY: ${{ vars.PUBLIC_DEFAULT_SECRET }}
  STRIPE_WEBHOOK_SECRET: ${{ vars.PUBLIC_DEFAULT_SECRET }}
  STRIPE_PRODUCT_ID: ${{ vars.PUBLIC_DEFAULT_SECRET }}
  STRIPE_WELCOME_COUPON: ${{ vars.PUBLIC_DEFAULT_SECRET }}
  STRIPE_ONBOARD_PERSONAL_COUPON: ${{ vars.PUBLIC_DEFAULT_SECRET }}
  STRIPE_ONBOARD_ORGANIZATION_COUPON: ${{ vars.PUBLIC_DEFAULT_SECRET }}
  ABLY_AGENT_JOBS_SUBSCRIBE_ONLY_KEY: ${{ vars.PUBLIC_DEFAULT_SECRET }}
  ABLY_AGENT_JOBS_PUBLISH_ONLY_KEY: ${{ vars.PUBLIC_DEFAULT_SECRET }}
  ANTHROPIC_API_KEY: "sk-ant-api03-01JN000000000000000000000"
  GOOGLE_CLIENT_ID: ${{ vars.PUBLIC_DEFAULT_SECRET }}
  GOOGLE_CLIENT_SECRET: ${{ vars.PUBLIC_DEFAULT_SECRET }}
  MICROSOFT_CLIENT_ID: ${{ vars.PUBLIC_DEFAULT_SECRET }}
  MICROSOFT_CLIENT_SECRET: ${{ vars.PUBLIC_DEFAULT_SECRET }}
  USER_CENTRICS_DATA_SETTINGS_ID: ${{ vars.PUBLIC_DEFAULT_SECRET }}
  AFTER_AGENT_HIRED_WEB_HOOK: https://after-agent-hired-web-hook.com
  MARKETING_OPT_IN_WEB_HOOK: https://marketing-opt-in-web-hook.com

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:17
        env:
          POSTGRES_USER: user
          POSTGRES_PASSWORD: password
          POSTGRES_DB: sokosumi
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install pnpm
        uses: pnpm/action-setup@v4

      - uses: actions/setup-node@v4
        with:
          node-version: "22"
          cache: "pnpm"

      - name: Install Dependencies
        run: pnpm install

      - name: Run Tests
        run: pnpm test:ci

      - name: Run Prisma Migrate
        run: pnpm sokosumi-web:prisma:migrate:dev

      - name: Run Build
        run: pnpm build
