name: Dependabot Auto Merge

on:
  pull_request:

jobs:
  automerge:
    name: Enable Auto Merge
    runs-on: ubuntu-latest

    permissions:
      pull-requests: write
      contents: write

    steps:
      - uses: fastify/github-action-merge-dependabot@v3
        with:
          approve-only: true
          use-github-auto-merge: true
