name: Sokosumi Web-App Deployment

on:
  workflow_dispatch:
  push:
    branches: [main]

permissions:
  contents: read

jobs:
  deploy-app:
    name: Deploy App
    runs-on: ubuntu-latest
    environment: development
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install pnpm
        uses: pnpm/action-setup@v4

      - name: Install dependencies
        run: pnpm install

      - name: Migrate database
        run: pnpm sokosumi-web:prisma:migrate:deploy
        env:
          DATABASE_URL: ${{ secrets.DATABASE_URL }}

      - name: Deploy the app
        uses: digitalocean/app_action/deploy@v2
        env:
          ADMIN_KEY: ${{ secrets.ADMIN_KEY }}
        with:
          app_spec_location: ./web-app/.do/app.yaml
          app_name: ${{ vars.DIGITALOCEAN_APP_NAME }}
          project_id: ${{ secrets.DIGITALOCEAN_PROJECT_ID }}
          token: ${{ secrets.DIGITALOCEAN_ACCESS_TOKEN }}
