name: Main Web-App Deployment

on:
  workflow_dispatch:
  push:
    branches: [main]
    paths: ['web-app/**']

permissions:
  contents: read

jobs:
  deploy-app:
    name: Deploy App
    runs-on: ubuntu-latest
    environment: development
    defaults:
      run:
        working-directory: ./web-app
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Deploy the app
        uses: digitalocean/app_action/deploy@v2
        env:
          ADMIN_KEY: ${{ secrets.ADMIN_KEY }}
        with:
          app_name: ${{ vars.DIGITALOCEAN_APP_NAME }}
          project_id: ${{ secrets.DIGITALOCEAN_PROJECT_ID }}
          token: ${{ secrets.DIGITALOCEAN_ACCESS_TOKEN }}
