name: Test (Web App)
on:
  pull_request:
    branches:
      - main

permissions:
  contents: write
  pull-requests: write

env:
  DATABASE_URL: "postgresql://user:password@localhost:5432/sokosumi"
  BETTER_AUTH_SECRET: ${{ secrets.BETTER_AUTH_SECRET }}

jobs:
  build:
    name: Build and Test
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./web-app
    services:
      postgres:
        image: postgres:17
        env:
          POSTGRES_USER: user
          POSTGRES_PASSWORD: password
          POSTGRES_DB: sokosumi
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: 'npm'
          cache-dependency-path:
            'web-app/package-lock.json'

      - name: Install Dependencies
        run: npm ci

      - name: Run Tests
        run: npm run test:ci

      - name: Run Prisma Migrate
        run: npm run prisma:migrate

      - name: Run Prisma Seed
        run: npm run prisma:seed

      - name: Cache Next.js Build
        uses: actions/cache@v4
        with:
          path: |
            ~/.npm
            ${{ github.workspace }}/web-app/.next/cache
          key: ${{ runner.os }}-nextjs-${{ hashFiles('web-app/package-lock.json') }}-${{ hashFiles('**/*.js', '**/*.jsx', '**/*.ts', '**/*.tsx') }}
          restore-keys: |
            ${{ runner.os }}-nextjs-${{ hashFiles('web-app/package-lock.json') }}-

      - name: Run Build
        run: npm run build
